body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}


/*----------------------------header*/

#header {}

#header > .row {
  border-bottom: 1px solid blue;
  margin-right: 0;
}

#header > .row > div {
  border-right: 1px solid blue;
  height: 40px;
  line-height: 40px;
  color: #888;
}

#header > .row > div:last-child {
  border-right: 0 solid blue;
}

#header .navbar-brand .glyphicon {
  font-size: 50px;
}

#header a {
  color: #888;
}

#header a:hover {
  text-decoration: none;
}


/*----------------------------轮播图图片各个端的样式设置*/

#cc_carousel {}

#cc_carousel .carousel-inner>.item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width:768px) {
  #cc_carousel .carousel-inner>.item {
    height: 410px;
  }
}

#cc_carousel .carousel-inner>.item>img {
  width: 100%;
}


/*----------------------------特色的样式*/

#tese {
  padding: 50px 0;
  border-bottom: 1px solid blue;
}

#tese>.container>.row>div {
  margin-bottom: 20px;
}


/*----------------------------发出的标价项目*/

#biaoshu {
  background-color: #ddd;
}

#biaoshu>.container {}

#biaoshu>.container>.nav-tabs {}

#biaoshu>.container>.tab-content {
  padding-top: 20px;
}


/*----------------------------发出的标价自定义样式*/

.panel-cc {
  border-color: #ddd;
  border-radius: 0;
}

.panel-cc>.panel-heading {
  float: right;
  height: 100px;
  width: 100px;
  border-left: 1px dashed red;
  color: #333;
  text-align: center;
  padding: 0;
  position: relative;
  padding-top: 10px;
}

.panel-cc>.panel-heading::before,
.panel-cc>.panel-heading::after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: block;
  position: absolute;
  background-color: #ddd;
}

.panel-cc>.panel-heading::before {
  top: -8px;
  left: -8px;
}

.panel-cc>.panel-heading::after {
  bottom: -8px;
  left: -8px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, .05) inset;
}

.panel-cc > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}

.panel-cc > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}

.panel-cc>.panel-body {
  padding: 0;
  margin-right: 100px;
  text-align: center;
}


/*----------------------------底部测试样式*/

#footer {
  background-color: red;
  height: 100px;
}


/*----------------------------导航的自定义样式*/

.navbar-cc-nav {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin-bottom: 0px;
  top: 0;
  width: 100%;
}

.navbar-cc-nav .navbar-brand {
  color: #777;
  height: 80px;
  float: right;
}

.navbar-cc-nav .navbar-brand:hover,
.navbar-cc-nav .navbar-brand:focus {
  background-color: transparent;
  color: #5e5e5e;
}

.navbar-cc-nav .navbar-text {
  color: #777;
}

.navbar-cc-nav .navbar-nav > li > a {
  color: #777;
  line-height: 48px;
}

.navbar-cc-nav .navbar-nav > li > a:hover,
.navbar-cc-nav .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #333;
  border-bottom: 2px solid red;
}

.navbar-cc-nav .navbar-nav > .active > a,
.navbar-cc-nav .navbar-nav > .active > a:hover,
.navbar-cc-nav .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #555;
  border-bottom: 2px solid yellow;
}

.navbar-cc-nav .navbar-nav > .disabled > a,
.navbar-cc-nav .navbar-nav > .disabled > a:hover,
.navbar-cc-nav .navbar-nav > .disabled > a:focus {
  background-color: transparent;
  color: #ccc;
}

.navbar-cc-nav .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
  float: left;
  margin-left: 15px;
}

.navbar-cc-nav .navbar-toggle:hover,
.navbar-cc-nav .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-cc-nav .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-cc-nav .navbar-collapse,
.navbar-cc-nav .navbar-form {
  border-color: #e7e7e7;
}

.navbar-cc-nav .navbar-nav > .open > a,
.navbar-cc-nav .navbar-nav > .open > a:hover,
.navbar-cc-nav .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555;
}

@media (max-width: 767px) {
  .navbar-cc-nav .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-cc-nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-cc-nav .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #333;
  }
  .navbar-cc-nav .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-cc-nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-cc-nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #e7e7e7;
    color: #555;
  }
  .navbar-cc-nav .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-cc-nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-cc-nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    background-color: transparent;
    color: #ccc;
  }
}

.navbar-cc-nav .navbar-link {
  color: #777;
}

.navbar-cc-nav .navbar-link:hover {
  color: #333;
}

.navbar-cc-nav .btn-link {
  color: #777;
}

.navbar-cc-nav .btn-link:hover,
.navbar-cc-nav .btn-link:focus {
  color: #333;
}

.navbar-cc-nav .btn-link[disabled]:hover,
fieldset[disabled] .navbar-cc-nav .btn-link:hover,
.navbar-cc-nav .btn-link[disabled]:focus,
fieldset[disabled] .navbar-cc-nav .btn-link:focus {
  color: #ccc;
}
